@model IEnumerable<FoodDatabase.Models.FoodItemTypes.FoodItemType>

@{
    ViewBag.Title = "Food Item Type";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>        
        <th>
            @Html.DisplayNameFor(model => model.TypeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Unit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Calories)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Carbs)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fats)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Protein)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fibre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GlycemicIndex)
        </th>
        <th>Food Items</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TypeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Unit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Calories)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Carbs)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fats)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Protein)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fibre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GlycemicIndex)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.FoodItemCount)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
