@model FoodDatabase.Models.FoodItems.FoodItem

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>FoodItem</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Brand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Brand)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GetCategory().FoodCategory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GetCategory().FoodCategory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GetFoodItemType().TypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GetFoodItemType().TypeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Unit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Unit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Calories)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Calories)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Carbs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Carbs)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fats)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fats)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Protein)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Protein)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fibre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fibre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GlycemicIndex)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GlycemicIndex)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
